<div class="container mt-4">
  <div class="row">
<div class="container-fluid mb-4">
  <div class="mb-4"><h1>{{ this.recipe.name| titlecase }}</h1></div>
  <div class="row">
      <div class="col-3 mb-3 border">
          <h3>Opis piwa</h3>
            <div>
              <strong>Styl: </strong>
              <p>{{ recipe.type | titlecase }}</p>
            </div>
            <div>
              <strong>Ekstrakt początkowy: </strong>
              <p>{{ recipe.originalGravity }} Plato</p>
            </div>
            <div>
              <strong>Ekstrakt końcowy: </strong>
              <p>{{ recipe.finalGravity }} Plato</p>
            </div>
            <div>
              <strong>Alkohol: </strong>
              <p>{{ recipe.alcohol }} % obj.</p>
            </div>
            <div>
              <strong>IBU: </strong>
              <p>{{ recipe.ibu }}</p>
          </div>
      </div>
      <div class="col border ml-3 mr-2">
          <h3>Receptura</h3>
          <strong>Zasyp</strong>
          <p>Beer is my passion. </p>
          <p>Beer is my passion. </p>
          <br>
          <strong>Styl: Chmiele</strong>
          <p>Beer is my passion. </p>
          <p>Beer is my passion. </p>
          <br>
          <strong>Drożdże</strong>
          <p>Beer is my passion. </p>
          <p>Beer is my passion. </p>
          <br>
      </div>
      <div class="col border">
          <h3>Procedura</h3>
          <h5><span class="label label-danger">Zacieranie</span></h5>
          <p>Beer is my passion. </p>
          <p>Beer is my passion. </p>
          <br>
          <h5><span class="label label-danger">Warzenie</span></h5>
          <p>Beer is my passion. </p>
          <p>Beer is my passion. </p>
          <br>
          <h5><span class="label label-danger">Fermentacja</span></h5>
          <p>Beer is my passion. </p>
          <p>Beer is my passion. </p>
          <br>
          <h5><span class="label label-danger">Rozlew</span></h5>
          <p>Beer is my passion. </p>
          <p>Beer is my passion. </p>
          <br>
      </div>
    </div>
  </div>
</div>
</div>
