<div class="container">
  <div class="row">
    <div class="form-group col-md-5 mx-auto">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
            <div class="form-group">
                <label for="username">Nazwa użytkownika</label>
                <input
                  type="text"
                  id="username"
                  formControlName="username"
                  class="form-control">
                  <span
                  *ngIf="!loginForm.get('userData.username').valid && loginForm.get('userData.username').touched"
                  class="help-block">
                  <span *ngIf="loginForm.get('userData.username').errors['required']">This field is required!</span>
                  </span>
              </div>
              <div class="form-group">
                <label for="password">Hasło</label>
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control">
                  <span
                  *ngIf="!loginForm.get('userData.password').valid && loginForm.get('userData.password').touched"
                  class="help-block">Please enter a valid password!</span>
              </div>
        </div>
        <span
        *ngIf="!loginForm.valid && loginForm.touched"
        class="help-block">Please enter a valid data!</span>
        <hr>
        <div class="col text-center">
          <button class="btn btn-secondary btn-block" type="submit">Logowanie</button>
        </div>
      </form>
      <div class="col text-center">
        <a class="nav-link" routerLink="/register">Nie masz konta? Zarejestruj się!</a>
      </div>
    </div>
  </div>
</div>
