<div class="card animate">
  <div class="card-body p-1">
    <h5 class="card-title text-center mb-1">{{ recipe.name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Styl: {{ recipe.type }}</li>
    <li class="list-group-item">Ekstrakt: {{ recipe.originalGravity }} Blg</li>
    <li class="list-group-item">IBU: {{ recipe.ibu }}</li>
  </ul>
  <div class="card-body text-center">
    <li class="list-inline-item"><button class="btn btn-primary">1</button></li>
    <li class="list-inline-item"><button class="btn btn-primary">2</button></li>
  </div>
</div>
