<div class="card animate">
  <div class="card-body p-1">
    <h5 class="card-title text-center mb-1">{{ recipe.name | titlecase }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Styl: {{ recipe.type | titlecase }}</li>
    <li class="list-group-item">Ekstrakt: {{ recipe.originalGravity }} Blg</li>
    <li class="list-group-item">IBU: {{ recipe.ibu }}</li>
  </ul>
  <div class="card-body text-center">
    <a routerLink="/recipes/details/{{ recipe.id }}/" class="btn btn-secondary mr-2">Szczegóły</a>
    <a *ngIf="!isUserRecipes" routerLink="/users/details/{{ recipe.userId }}" class="btn btn-secondary">Użytkownik</a>
  </div>
</div>
